# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo

# Environments
.env
.env.*
venv/
ENV/
env/
venv.bak/
venv_old/

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
