# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
ENV/
env/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Docker
docker-compose.yml
Dockerfile
*.dockerfile

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
