# Database
SQLAlchemy>=2.0.23
asyncpg>=0.29.0  # Асинхронний драйвер для PostgreSQL
alembic>=1.13.0

# Telegram
python-telegram-bot>=20.7
python-dotenv>=1.0.0

# Settings and validation
pydantic>=2.5.2
pydantic-settings>=2.1.0
