aiogram==3.14.0
pydantic>=2.3.0
pydantic-settings>=2.3.0
python-dotenv>=1.0.0
SQLAlchemy>=2.0.35
asyncpg==0.30.0
typing-extensions>=4.7.1
openai==1.55.3
matplotlib>=3.8.0
seaborn==0.13.2
plotly==5.24.1
kaleido==0.2.1
rich>=13.9.4
Pillow==11.0.0
networkx==3.4.2
numpy==2.1.0
cairosvg==2.7.1